<html>
<head>
<title>stories.ServiceInfo</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1></h1>
<div class="path">stories/ServiceInfo.story</div>
<div class="scenario">
<h2>Scenario: service should return default service info</h2>
<div class="step successful">Given a <span class="step parameter">RESTFul</span> web service located at <span class="step parameter">http://localhost:8080/SalesOrderEntityService/RestIdUtilityServiceV1/identityservice/</span></div>
<div class="step successful">When a <span class="step parameter">GET</span> request is made to resource <span class="step parameter">info</span> for <span class="step parameter">application/xml</span></div>
<div class="step successful">Then the expected response is <span class="step parameter">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;&lt;ns2:StructureServiceInformation xmlns:ns2=&quot;http://schemas.tpplc.com&quot;&gt;&lt;ns2:Name&gt;IDENTITY_SERVICE&lt;/ns2:Name&gt;&lt;ns2:Version&gt;V1&lt;/ns2:Version&gt;&lt;ns2:Description&gt;Use me to get unique ID's by the bucketload.&lt;/ns2:Description&gt;&lt;/ns2:StructureServiceInformation&gt;</span></div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
